@import 'http://fonts.googleapis.com/css?family=Maven+Pro&v1';

* { margin: 0; }

html, body { height: 100%; margin: 0; padding: 0; font-family: 'Maven Pro', arial, serif; background-color: #18293b; color: #f2dea1; }

a:link,
a:visited,
a:hover { color: #f2dea1; }
a:hover { text-decoration: none; }

h1, h2 { clear: both; margin: 8px 0; color: #fffbff; }

#frame { padding: 0 10%; width: 80%; position: absolute; top: 0; bottom: 5em; left: 0; right: 0; overflow-y: auto; }
#header { text-align: center; }
#form ul { margin: 0; padding: 0; width: 600px; }
#form ul li { list-style: none; float: left; margin: 2px 2px; padding: 0 4px; cursor: pointer; }
#form ul li.selected { background-color: #f2dea1; color: #18293b; }
#form ul li:hover { background-color: #d0b580; color: #18293b; }
#results #matches { padding: 25px 5%; width: 90%; border-width: 4px; border-style: solid; color: #000; }
#results #matches.nomatch { background-color: #FDD2D2; border-color: #D37979     ; }
#results #matches.match { background-color: #CDF3C9; border-color: #779A73; }
#cheatsheet { clear: both; }
#cheatsheet h2 a:link { font-size: .5em; }
#cheatsheet h3 a:link { font-size: .7em; }
#cheatsheet div { margin-left: 15px; }
#cheatsheet td { color: #fff; }
#push { height: 5em; }
#footer { background-color: #d0b580; padding: 5px; color: #5b5a56; height: 5em; position: absolute; bottom: 0; left: 0; right: 0; }
#footer a:link,
#footer a:hover,
#footer a:visited { color: #5b5a56; }
#footer img { float: right; margin-top: 40px; margin-right: 20px; }
            
input { font-size: 2.5em; width: 100%; background-color: #f2dea1; color: #5b5a56; border: 4px solid #d0b580; }
textarea { font-size: 1.2em; border-width: 0; width: 100%; height: 150px; background-color: #f2dea1; color: #5b5a56; border: 4px solid #d0b580; }